examples/DucoboxHTTP.json
[{"id":"35d1bbbb.a76754","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4372ec9.f3699","type":"ducoboxHTTP","z":"35d1bbbb.a76754","server":"661ad4fe.52fedc","deviceID":"2","x":680,"y":280,"wires":[["46583ad9.f018e4"]]},{"id":"46583ad9.f018e4","type":"debug","z":"35d1bbbb.a76754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":280,"wires":[]},{"id":"5f71325f.55357c","type":"inject","z":"35d1bbbb.a76754","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":280,"wires":[["d4372ec9.f3699"]]},{"id":"80ee4347.a35ab8","type":"ducoboxSend","z":"35d1bbbb.a76754","server":"661ad4fe.52fedc","deviceID":"3","x":1060,"y":400,"wires":[]},{"id":"f86c90fd.7908e","type":"inject","z":"35d1bbbb.a76754","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":400,"wires":[["62cd949b.544dac"]]},{"id":"62cd949b.544dac","type":"function","z":"35d1bbbb.a76754","name":"Values for DucoBox","func":"msg.Operation_State = 'CNT1';\nmsg.CO2Setpoint = 690;\nmsg.RHSetpoint = 70\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["80ee4347.a35ab8"]]},{"id":"661ad4fe.52fedc","type":"ducoboxSettings","z":"","name":"My ducobox"}]